# SPDX-License-Identifier: GPL-2.0
AccessModifierOffset: -8
AlignAfterOpenBracket: true
AlignConsecutiveAssignments: true
AlignConsecutiveMacros: true
AlignEscapedNewlinesLeft: true
AlignTrailingComments: true
AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLambdasOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AlwaysBreakBeforeMultilineStrings: true
AlwaysBreakTemplateDeclarations: true
BasedOnStyle: WebKit
BreakAfterAttributes: Never
BreakConstructorInitializersBeforeComma: false
ColumnLimit: 150
Cpp11BracedListStyle: true
IndentCaseLabels: false
IndentWidth: 8
IndentWrappedFunctionNames: false
InsertNewlineAtEOF: true
Language: Cpp
NamespaceIndentation: None
PointerAlignment: Left
ReflowComments: true
SortIncludes: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeCpp11BracedList: false
SpaceInEmptyParentheses: false
SpacesInParentheses: false
Standard: Cpp11
UseTab: ForIndentation
